

.your_coffee {
    background-image: url("https://i.imgur.com/usTy2nH.png");
    min-height: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 640px 360px;
    position: relative;
      
  }


  .part2 {
    background-image: url("https://i.imgur.com/d8Qoawy.jpeg");
    min-height: 265px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
      
  }
  .bottom-left {
    position: absolute;
    top: 70%;
    left:0%
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: darkgoldenrod;
  }
