

.your_coffee {
  position: relative;
  text-align: center;
  color: black;


}

.your_coffee1 {
  position: absolute;
  bottom: 8px;
  left:16px;


}
.your_coffee2 {
  position: absolute;
  bottom: 8px;
  right:16px;


}
